body {
    background-color: #f1dca7;
}

h3 {
    font-size: 2.25rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    color: #9b9b7a;
    transform: scale(2);
    text-shadow: 0.1rem 0.1rem 0 #797d62;
    letter-spacing: 0.2rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.profile {
    background-color: #ffcb69;
    border: 0.25rem;
    box-shadow:
        0 0.25rem #d08c60,     
        0 -0.25rem #d08c60,    
        0.25rem 0 #d08c60,     
        -0.25rem 0 #d08c60,
        0 0.5rem #997b667d,
        0.5rem 0 #997b667d;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    width: 60vh;
    height: auto;    
    gap: 1.5rem; 
}

.user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

img {
    width: 6rem;
    height: 6rem;
}

.pet-logo {
    padding: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 1rem;
}

#user-name {
    background-color: #d6ce93;
    padding: 0 1rem;
    color: #60644a;
    border: 0;
    box-shadow:
        0 0.10rem #797d62,     
        0 -0.10rem #797d62,    
        0.10rem 0 #797d62,     
        -0.10rem 0 #797d62,
        0 0.2rem #433d2c4c,
        0.2rem 0 #433d2c4c;
    font-size: large;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

textarea {
    background-color: #d6ce93;
    padding: 0 1rem;
    color: #60644a;
    border: 0;
    box-shadow:
        0 0.10rem #797d62,     
        0 -0.10rem #797d62,    
        0.10rem 0 #797d62,     
        -0.10rem 0 #797d62,
        0 0.2rem #433d2c4c,
        0.2rem 0 #433d2c4c;
    font-size: large;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    min-width: 14rem;
}

p {
    color: #60644a;
    font-size: large;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    min-width: 14rem;
}

.langs {
    display: flex;
    gap: 3rem;
}

.lang {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #d6ce93;
    border: 0.25rem;
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
        0 0.5rem #433d2c4c,
        0.5rem 0 #433d2c4c;
    cursor: pointer;
    max-width: 60%;
}

.lang:hover {
    background-color: #9b9b7a;
}

.lang:active {
    transform: translateX(0.25rem);
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: #f8efd7;
    border: 0;
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
        0 0.5rem #433d2c4c,
        0.5rem 0 #433d2c4c;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    background-color: #d6ce93;
}

.btn:hover {
    background-color: #9b9b7a;
}

.btn:active {
    transform: translateX(0.25rem);
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
}

.save-btn {
    display: flex;
    justify-content: right;
}
