
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 6rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    color: #9b9b7a;
    text-shadow: 0.2rem 0.1rem 0 #797d62;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 10px;
}
 
.shop-panel {
    z-index: 50;
    height: 100%;
    width: 25rem;
    position: absolute;
    background-color: #f1dca7;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateX(-25rem);
}

.shop-panel.open {
    transform: translateX(0); 
} 
h3 {
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    color: #9b9b7a;
    transform: scale(2);
    text-shadow: 0.1rem 0.1rem 0 #797d62;
    letter-spacing: 0.2rem;
    text-align: center;
}

.food-img img {
    width: 5rem;
    height: 5rem;
}

.food-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e8ac65;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow:
        0 0.25rem #b58463,     
        0 -0.25rem #b58463,    
        0.25rem 0 #b58463,     
        -0.25rem 0 #b58463,
        0 0.4rem #997b66a5,
        0.4rem 0 #997b66a5;
    cursor: pointer;
    max-width: 60%;
}

.stock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.btn {
    margin-bottom: 1rem;
    padding: 0.1rem 0.5rem;
    color: #ffffff;
    border: 0;
    box-shadow:
        0 0.15rem #797d62,     
        0 -0.15rem #797d62,    
        0.15rem 0 #797d62,     
        -0.15rem 0 #797d62,
        0 0.2rem #433d2c4c,
        0.2rem 0 #433d2c4c;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    background-color: #d6ce93;
    text-align: center;
    word-spacing: 0.5rem;
}

.btn:hover {
    background-color: #9b9b7a;
}

.btn:active {
    transform: translateY(0.25rem);
    box-shadow:
        0 0.15rem #797d62,     
        0 -0.15rem #797d62,    
        0.15rem 0 #797d62,     
        -0.15rem 0 #797d62;
}

input {
    display: none;
    visibility: hidden;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 100;
    cursor: pointer;
    top: 20px;   
    left: 15px;
    background-color: #d6ce93;
    box-shadow:
        0 0.1rem #797d62,     
        0 -0.1rem #797d62,    
        0.1rem 0 #797d62,     
        -0.1rem 0 #797d62,
        0 0.15rem #433d2c4c,
        0.15rem 0 #433d2c4c;
}

.container.dim {
    filter: brightness(0.5);
}

.home-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    overflow: hidden;
}

.home-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.4s ease; 
}

.home-bg.dim img {
    filter: brightness(0.5);  
}

.buy img{
    width: 1rem;
    height: 1rem;
}

.petlogo {
    width: 1rem;
    height: 1rem;
}
.gridbg .petlogo img{
    width: 8rem;
    height: 8rem;
    margin: 1rem 1rem;
}

.phone img {
    width: 2.5rem;
    height: 2.5rem;
}

.gridbg .lang img {
    width: 8rem;
    height: 8rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 2rem;
    padding: 2rem;
    min-height: 85vh;
    backdrop-filter: blur(1px);
}

.gridbg {
    background-color: #ffcb69ce;
    border: 0.25rem;
    box-shadow:
        0 0.25rem #d08d60cb,     
        0 -0.25rem #d08d60cb,    
        0.25rem 0 #d08d60cb,     
        -0.25rem 0 #d08d60cb,
        0 0.5rem #997b667d,
        0.5rem 0 #997b667d;
    height: 100%;
    font-size: large;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:#797d62;
}

#lessons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: space-around;
}

#user{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
   