body {
    /* background-image: url("fall-bg.jpg");
    background-size: cover; */
    background-color: #f1dca7;
    overflow-x: hidden;
}

h3 {
    font-size: 2.25rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    color: #9b9b7a;
    transform: scale(2);
    text-shadow: 0.1rem 0.1rem 0 #797d62;
    letter-spacing: 0.2rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
}

img {
    width: 10rem;
    height: 10rem;
}

.pets {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #ffcb69;
    border: 0.25rem;
    box-shadow:
        0 0.25rem #d08c60,     
        0 -0.25rem #d08c60,    
        0.25rem 0 #d08c60,     
        -0.25rem 0 #d08c60,
        0 0.5rem #997b667d,
        0.5rem 0 #997b667d;
    margin: 0 auto;
    width: 80%;
    padding: 3rem 0 0.75rem 0;
    gap: 1.25rem;
}

.pet-type {    
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.pet-name {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #797d62;
    font-size: larger;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.pet-name label {
    margin-right: 0.5rem;
}

input {
    background-color: #d6ce93;
    padding: 0 1rem;
    color: #60644a;
    border: 0;
    box-shadow:
        0 0.10rem #797d62,     
        0 -0.10rem #797d62,    
        0.10rem 0 #797d62,     
        -0.10rem 0 #797d62,
        0 0.2rem #433d2c4c,
        0.2rem 0 #433d2c4c;
    font-size: large;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.pet {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1.25rem 1.75rem;
    background-color: #d6ce93;
    border: 0.25rem;
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
        0 0.5rem #433d2c4c,
        0.5rem 0 #433d2c4c;
    cursor: pointer;
}

.pet:hover {
    background-color: #9b9b7a;
}

.pet:active {
    transform: translateX(0.25rem);
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: #f8efd7;
    border: 0;
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
        0 0.5rem #433d2c4c,
        0.5rem 0 #433d2c4c;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    background-color: #d6ce93;
}

.btn:hover {
    background-color: #9b9b7a;
}

.btn:active {
    transform: translateX(0.25rem);
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
}

.pet.selected {
    transform: translateX(0.25rem);
    transition: all 0.30ms ease;
    background-color: #9b9b7a;
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
        0 0.5rem #433d2c4c,
        0.5rem 0 #433d2c4c;
}

#save {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 4rem;
    max-height: 3rem;
    padding: auto auto;
}

.save-btn {
    display: flex;
    justify-content: right;
    margin-right: 0.75rem;
}

a {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: #f8efd7;
    border: 0;
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
        0 0.5rem #433d2c4c,
        0.5rem 0 #433d2c4c;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    background-color: #d6ce93;
    text-decoration: none;
    display: block;
}

a:hover {
    background-color: #9b9b7a;
}

a:active {
    transform: translateX(0.25rem);
    box-shadow:
        0 0.25rem #797d62,     
        0 -0.25rem #797d62,    
        0.25rem 0 #797d62,     
        -0.25rem 0 #797d62,
}