body {
    background-image: url("bg-img/fall-bg.jpg");
    background-size: cover;
}

h1 {
    font-size: 4rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    color: #9b9b7a;
    transform: scale(2);
    text-shadow: 0.2rem 0.1rem 0 #797d62;
    letter-spacing: 0.2rem;
}

.elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.btns {
    margin: 6rem 0 6rem 0;
    display: flex;
}

.btn {
    margin-bottom: 1rem;
    padding: 1.25rem 1.75rem;
    color: #f1dca7;
    border: 0;
    box-shadow:
        0 0.25rem black,     
        0 -0.25rem black,    
        0.25rem 0 black,     
        -0.25rem 0 black,
        0 0.5rem #433d2c4c,
        0.5rem 0 #433d2c4c;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
}
button:active{
    transform: translateX(0.25rem);
    transform: translateY(0.25rem);
    box-shadow: 0 0.25rem black,     
        0 -0.25rem black,    
        0.25rem 0 black,     
        -0.25rem 0 black;
}
#start{
    background-color: #9b9b7a;
}
#start:hover{
    background-color: #797d62;
}
